{% extends 'layout.html.twig' %}

{% block title %}Localizaciones - {{ parent() }}{% endblock %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" aria-current="page"><a href="{{ path('principal') }}"><i class="fa fa-briefcase"></i></a></li>
            <li class="breadcrumb-item active" aria-current="page">Localizaciones</li>
        </ol>
    </nav>

    <h1>Listado de Localizaciones</h1>

    <table class="table table-bordered table-hover table-striped">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Codigo</th>
            <th>Descripción</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for localizacion in localizaciones %}
            <tr>
                <td>
                    {{ localizacion.nombre }}
                </td>
                <td>
                    {{ localizacion.codigo}}
                </td>
                <td>
                    {{ localizacion.descripcion }}
                </td>
                <td>
                    <a href="{{ path('localizacion_materiales', { 'id': localizacion.id }) }}" class="btn btn-sm btn-info"> <i class="fa fa-th"></i> Mostrar Materiales</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}