{% extends 'layout.html.twig' %}

{% block title %}Préstamos{% endblock %}

{% block content %}
    <h1>Mostrar historial de un material</h1>

    <table class="table table-bordered table-hover table-striped">
        <thead>
        <tr>
            <th class="w-25">Nombre</th>
            <th class="w-50">Descripcion</th>
            <th class="w-25">Prestado a</th>
        </tr>
        </thead>
        <tbody>
        {% for material in materiales %}
            <tr>
                <td>
                    {% if not material.disponible %}<del>{% endif %}
                        <a href="{{ path('prestamo_detalle_historial', { 'material': material.id }) }}">{{ material.nombre }}</a>
                        {% if not material.disponible %}</del>{% endif %}
                </td>
                <td>{{ material.descripcion | nl2br }}</td>
                <td>{{ material.persona }}, {{ material.fechaHoraUltimoPrestamo | date('d/m/Y H:i') }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">No hay materiales</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
