{% extends 'layout.html.twig' %}

{% block title %}Materiales de localizaciones - {{ parent() }}{% endblock %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" aria-current="page"><a href="{{ path('principal') }}"><i class="fa fa-briefcase"></i></a></li>
            <li class="breadcrumb-item" aria-current="page"><a href="{{ path('localizacion_listar') }}">Localizaciones</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ localizacion.nombre }}</li>
        </ol>
    </nav>

    <h1>Listado de Materiales de {{ localizacion.nombre }}</h1>

    <table class="table table-bordered table-hover table-striped">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Disponible</th>
            <th>Fecha Alta</th>
            <th>Fecha Baja</th>
            <th>Fecha Ultimo prestamo</th>
            <th>Fecha Ultima devolucion</th>
        </tr>
        </thead>
        <tbody>
        {% for material in materiales %}
            <tr>
                <td>{{ material.nombre }}</td>
                <td>{{ material.descripcion }}</td>
                <td>{{ material.disponible }}</td>
                <td>{{ material.fechaAlta | date("d/m/Y") }}</td>
                <td>{{ material.fechaBaja | date("d/m/Y") }}</td>
                <td>{{ material.fechaHoraUltimoPrestamo | date("d/m/Y")}}</td>
                <td>{{ material.fechaHoraUltimaDevolucion | date("d/m/Y")}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('localizacion_listar') }}" class="btn btn-info"><i class="fa fa-arrow-left"></i> Volver al listado de Localizaciones</a>
{% endblock %}