{% extends 'base.html.twig' %}

{% block body %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{{ path('portada') }}"><i class="fa fa-boxes"></i> GreCO</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        {% set route_name = app.request.get('_route') %}
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item {% if route_name == 'portada' %}active{% endif %}">
                    <a class="nav-link" href="{{ path('portada') }}"><i class="fa fa-home"></i> Inicio</a>
                </li>
                {% if is_granted('ROLE_USUARIO') %}
                    <li class="nav-item {% if route_name starts with 'inventario' %}active{% endif %}">
                        <a class="nav-link" href="{{ path('inventario_listar') }}"><i class="fa fa-clipboard-list"></i> Inventario</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarInventario" role="button" data-toggle="dropdown" aria-expanded="false">
                            <i class="fa fa-gift"></i> Préstamos</a>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarInventario">
                            <a class="dropdown-item" href="{{ path('prestamo_material_prestado') }}">Material prestado</a>
                            <a class="dropdown-item" href="{{ path('prestamo_listado_historial') }}">Historial</a>
                        </div>
                    </li>
                    <li class="nav-item {% if route_name starts with 'localizacion' %}active{% endif %}">
                        <a class="nav-link" href="{{ path('localizacion_listar') }}"><i class="fa fa-grip-vertical"></i> Localizaciones</a>
                    </li>
                    <li class="nav-item {% if route_name starts with 'persona' %}active{% endif %}">
                        <a class="nav-link" href="{{ path('persona_listar') }}"><i class="fa fa-users"></i> Personas</a>
                    </li>
                {% endif %}
                {% if app.user %}
                    <a href="{{ path('seguridad_logout') }}" class="nav-link"><i class="fas fa-sign-out-alt"></i> Conectado como {{ app.user }}. Salir</a>
                {% else %}
                    <a href="{{ path('seguridad_login') }}" class="nav-link"><i class="fas fa-sign-in-alt"></i> Entrar</a>
                {% endif %}
            </ul>
        </div>
    </nav>
    <div class="container">
        {% for mensaje in app.flashes('error') %}
            <div  class="alert alert-danger alert-dismissible">
                {{ mensaje }}
            </div>
        {% endfor %}
        {% for mensaje in app.flashes('exito') %}
            <div class="alert alert-success alert-dismissible">
                {{ mensaje }}
            </div>
        {% endfor %}
        {% block content %}{% endblock %}
    </div>
{% endblock %}
